@media print {
	@page {
		margin: 10mm;
		size: auto
}
	.w-editor-bem-EditorApp-minimized .w-editor-bem-EditorApp_Panel {
		display: none !important;
	}
	.container-background-img, .footer, .nav_component {
		display: none;
	}
	body {
		/*background: white;
		*/
		overflow: visible;
	}
	#content {
		/*background: transparent;
		*/
	}
	#author {
		/*color: #000;
		*/
	}
	.verteiler-card {
		page-break-after: page;
	}
	.statistik_column-wrapper {
		display: block;
		/*page-break-after: auto;
		*/
	}
	.chart-container .overflow-hidden {
		overflow: visible
}
	.column-statistik-legende {
		width:100%
}
	/* h1,h2,h3,h4,h5,h6 {
		-webkit-column-break-after: avoid;
		-moz-column-break-after: avoid;
		break-after: avoid;
		page-break-after: avoid;
		page-break-inside: avoid;
		color: #2f415c;
	}
	*/
	p {
		orphans: 2;
		widows: 3;
		color: #2f415c;
	}
	.big-text.margin-bottom {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.big-text.margin-bottom.margin-medium {
		margin: 1.5rem;
	}
	.margin-medium {
		margin: 1.5rem;
	}
	.margin-large {
		margin: 2.5rem;
	}
	.margin-xlarge {
		margin: 3rem;
	}
	.margin-xxlarge {
		margin: 4rem;
	}
	.margin-huge {
		margin: 5rem;
	}
	.margin-xhuge {
		margin: 6rem;
	}
	.margin-xxhuge {
		margin: 8rem;
	}
	.margin-top {
		margin-right: 0rem;
		margin-bottom: 0rem;
		margin-left: 0rem;
	}
	.margin-top.margin-small.padding-top {
		padding-right: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem;
	}
	.margin-top.margin-huge.padding-top.padding-large {
		padding: 2.5rem;
	}
	.margin-bottom {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.margin-bottom.margin-medium.tablet-4 {
		margin-bottom: 4rem;
	}
	.margin-bottom.margin-large.justify-space-between {
		margin-bottom: 1.5rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.margin-left {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-bottom: 0rem;
	}
	.margin-right {
		margin-top: 0rem;
		margin-bottom: 0rem;
		margin-left: 0rem;
	}
	.margin-vertical {
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.margin-horizontal {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	.padding-small.is-tablet-left-0 {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.padding-small.no-horizontalpadding-tablet {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.padding-medium {
		padding: 1.5rem;
	}
	.padding-large {
		padding: 2.5rem;
	}
	.padding-xlarge {
		padding: 3rem;
	}
	.padding-xxlarge {
		padding: 4rem;
	}
	.padding-huge {
		padding: 5rem;
	}
	.padding-xhuge {
		padding: 6rem;
	}
	.padding-xxhuge {
		padding: 8rem;
	}
	.padding-top {
		padding-right: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem;
	}
	.padding-bottom {
		padding-top: 0rem;
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.padding-bottom.padding-huge.tablet-0 {
		padding-bottom: 0rem;
	}
	.padding-left {
		padding-top: 0rem;
		padding-right: 0rem;
		padding-bottom: 0rem;
	}
	.padding-right {
		padding-top: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem;
	}
	.padding-vertical {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.padding-vertical.padding-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.padding-horizontal {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	.show-tablet {
		display: block;
	}
	.global-styles {
		position: fixed;
		top: auto;
	}
	.hide-tablet {
		display: none;
	}
	.spacing-clean {
		margin: 0rem;
		padding: 0rem;
	}
	.max-width-full-tablet {
		width: 100%;
		max-width: none;
	}
	.button:hover {
		background-color: #2f415c;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.button.white:hover {
		background-color: #fff;
	}
	.button.medium-blue:hover {
		background-color: #7ea0d4;
	}
	.button-secondary.white.tablet-blue {
		border-color: #2f415c;
		color: #2f415c;
	}
	.button-secondary.white.tablet-blue:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.fs-styleguide_section {
		grid-column-gap: 2.5rem;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.text-rich-text {
		width: auto;
		max-width: 65ch;
		margin-right: auto;
	}
	.text-rich-text h5 {
		letter-spacing: 0.025rem;
	}
	.text-rich-text p {
		max-width: 65ch;
	}
	.text-rich-text.center {
		margin-right: auto;
		margin-left: auto;
	}
	.form-input {
		border-color: #2f415c;
	}
	.form-input.on-dark {
		border-color: hsla(0, 0%, 100%, 0.5);
		color: #fff;
	}
	.page-wrapper.overflow-hidden {
		position: relative;
	}
	.container-large.top-margin {
		margin-top: 6rem;
	}
	.container-large.top-margin.medium {
		margin-top: 4rem;
	}
	.page-padding {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	.heading-xlarge {
		font-size: 3rem;
		line-height: 1.05;
	}
	.button-text:hover {
		color: #2f415c;
	}
	.button-text.text-color-white.no-padding {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.button-text.text-color-white.no-padding:hover {
		color: #fff;
	}
	.button-text.text-color-white.no-padding.hide-mobile-landscape:hover {
		opacity: 1;
	}
	.button-text.passwortvergessen:hover {
		color: #fff;
	}
	.heading-medium.relativ {
		line-height: 2rem;
	}
	.container-full.text-color-white.padding-xlarge {
		width: 100%;
	}
	.column-wrapper.justify-space-between {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.column-wrapper.tablet-vertical {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.column-wrapper.tablet-vertical.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column-wrapper.tablet-center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.column-wrapper.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column._1-3.align-right.align-bottom {
		-webkit-box-flex: 0;
		-webkit-flex: 0 auto;
		-ms-flex: 0 auto;
		flex: 0 auto;
	}
	.column._1-3.mobile-full {
		padding-right: 1rem;
	}
	.column._1-3.tablet-margin-and-full {
		width: auto;
		margin-bottom: 2rem;
		padding-right: 0rem;
	}
	.column._1-3.tablet-full {
		width: 100%;
		padding-right: 0rem;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column._1-2.tablet-100 {
		width: 100%;
		min-height: auto;
	}
	.column.align-right.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column.align-right.tablet-left {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column.align-right.tablet-align-left {
		margin-top: 1rem;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column.width-auto.text-align-right {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column._1-4.text-align-right {
		margin-top: 2rem;
		text-align: left;
	}
	.column.tablet-center {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.background-img._100vh {
		min-height: 0vh;
	}
	.wrapper-button {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		grid-row-gap: 1rem;
	}
	.automatic-columns._4 {
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.automatic-columns.team {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.resposive-allert {
		position: fixed;
		z-index: 9007199254740991;
		display: none;
		width: 100vw;
		height: 100vh;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: rgba(31, 43, 60, 0.93);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		mix-blend-mode: normal;
	}
	.line-bottom.last-tablet {
		border-bottom-style: none;
	}
	.active.in-mobile-nav {
		color: #232323;
		font-weight: 700;
	}
	.image-wrap-origin {
		display: none;
	}
	.navicon-textcontainer.hide-desktop {
		display: block;
	}
	.nav-menu-origin {
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		overflow: auto;
		width: 100vw;
		height: 100vh;
		padding: 5rem 2.5rem 2.5rem;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-color: #fff;
	}
	.nav-menu-origin.background-color-blue-dark {
		background-color: #1f2b3c;
		color: #fff;
	}
	.navigation-button-origin {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: auto;
	}
	.nav_brand-container {
		margin-right: 10px;
		margin-bottom: 0px;
		padding: 0px;
	}
	.nav-container-origin {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.list-wrap-origin {
		padding: 0px 16px 24px 15px;
		box-shadow: none;
	}
	.list-wrap-origin.padding-large {
		padding-right: 2.5rem;
		padding-bottom: 3rem;
		padding-left: 2.5rem;
	}
	.list-wrap-origin.padding-large.dark {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	.nav-section-secondary {
		display: none;
	}
	.main-logo {
		margin-bottom: -0.55rem;
	}
	.main-logo:hover {
		color: #2f415c;
	}
	.main-logo.on-dark:hover {
		color: #fff;
	}
	.navigation-grid-origin {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.dropdown-origin {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		border-bottom: 1px solid #2f415c;
	}
	.navlink {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.navlink.secondary {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.navlink.secondary.in-mobile-nav {
		color: #7ea0d4;
		font-size: 2rem;
		font-weight: 300;
	}
	.navlink.mobile-service-text {
		font-size: 18px;
	}
	.navlink.hide-desktop {
		display: block;
	}
	.navicon-burger {
		line-height: 1em;
	}
	.nav-section-secondary-in-mobile {
		display: block;
		border-bottom: 1px solid #2f415c;
	}
	.nav-section-secondary-in-mobile.on-dark {
		color: #fff;
	}
	.toggle-origin {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.toggle-origin.w--open {
		width: 100%;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.toggle-origin.ondark:hover {
		color: #fff;
	}
	.menu-button-origin {
		padding: 0.5rem;
		font-family: 'Font Awesome', sans-serif;
	}
	.menu-button-origin.w--open {
		background-color: transparent;
		color: #7ea0d4;
	}
	.link-wrap-origin {
		opacity: 0.7;
	}
	.link-wrap-origin:hover {
		opacity: 0.7;
		color: #232323;
	}
	.menu-subtext {
		max-width: 40ch;
	}
	.catchline {
		font-size: 16px;
	}
	.navicon {
		font-size: 36px;
	}
	.primary-navlink-box {
		margin-right: 1.9rem;
		margin-left: 0rem;
		color: #232323;
		font-size: 2rem;
		font-weight: 300;
	}
	.primary-navlink-box:hover {
		color: #232323;
	}
	.primary-navlink-box.mobile-service-link {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-left: 24px;
		color: #fff;
	}
	.primary-navlink-box.in-mobile-nav {
		margin-right: 0rem;
	}
	.primary-navlink-box.footer {
		color: #fff;
		font-size: 1rem;
	}
	.primary-navlink-box.on-dark {
		color: #fff;
	}
	.primary-navlink-box.on-dark.no-right-margin {
		margin-right: 0rem;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.primary-navlink-box.login-tablet {
		margin-right: 0rem;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.nav-caret {
		position: relative;
		top: 5px;
		display: block;
		margin-right: 24px;
		color: rgba(35, 35, 35, 0.2);
		font-size: 28px;
		font-weight: 300;
	}
	.container-origin {
		position: relative;
		padding-right: 32px;
	}
	.navigation-origin {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	.list-origin.w--open {
		position: static;
		top: auto;
		z-index: 5;
		margin-right: 0rem;
		margin-left: 0rem;
		padding-top: 0px;
		box-shadow: none;
	}
	.statistik_column-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.login_formfield {
		border-radius: 0px;
	}
	.footer_brand-container {
		margin-right: 10px;
		padding: 0px;
	}
	.hero-cell.wide {
		padding-left: 0px;
	}
	.tabellen-wrapper {
		padding-top: 1.5em;
		padding-bottom: 2.5em;
	}
	.text-rich-text-small p {
		max-width: 80ch;
	}
	.icon.bigger {
		font-size: 1.75rem;
	}
	.themen_wrapper_shadow {
		padding: 2rem;
	}
	.themen_item {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.themen_item:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		color: #2f415c;
	}
	.themen_item.white:hover {
		color: #fff;
	}
	.automatic-columns_links.tablet-row {
		grid-auto-flow: row;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.richtext_container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.verteiler-card {
		padding: 1.5rem;
	}
	.verteiler-card:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		color: #2f415c;
	}
	.column-wrapper-navigation.white.hover.mobile-vertical:hover {
		color: #fff;
	}
	.container-large_white {
		z-index: 1;
	}
	.footer-logo-background-copy {
		z-index: 0;
	}
	.image-slider-nav {
		top: 20px;
		width: 120px;
		height: 40px;
		margin-left: auto;
	}
	.arrow {
		height: 18px;
	}
	.image-slide {
		min-width: 640px;
	}
	.slider-wrapper {
		width: 100%;
	}
	.right-arrow-image-slider {
		left: 60px;
		top: 20px;
		width: 60px;
		height: 40px;
		padding-left: 4px;
	}
	.left-arrow-image-slider {
		top: 20px;
		right: 60px;
		width: 60px;
		height: 40px;
		margin-left: auto;
		padding-right: 4px;
	}
	.mask {
		min-width: 640px;
	}
	.image-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.image-slider {
		min-width: 640px;
	}
	.slider-arrow {
		height: 18px;
	}
	.icon-in-button.bigger {
		font-size: 1.75rem;
	}
	.icon-termin.bigger {
		font-size: 1.75rem;
	}
	.icon-anmeldung.bigger {
		font-size: 1.75rem;
	}
	.navicon-textcontainer-dropdown {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		font-family: 'Font Awesome', sans-serif;
		font-size: 2rem;
	}
	.menu-large {
		width: 1rem;
		height: 1rem;
	}
	.line {
		height: 1px;
	}
	.line.middle {
		width: 100%;
	}
	.line.hide-desktop {
		display: block;
	}
	.list-wrapper.justify-space-between {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.list-wrapper.tablet-vertical {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.download-wrapper {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.download-wrapper:hover {
		color: #2f415c;
	}
	.download-wrapper.center-tablet {
		max-width: 65ch;
		margin-right: auto;
		margin-left: auto;
	}
	.header-news-teaser-card {
		padding: 2.5rem;
	}
	.header-news-teaser-card:hover {
		padding-right: 2.25rem;
		padding-left: 2.75rem;
	}
	.negativ-iphone {
		position: absolute;
		top: -5rem;
		z-index: 9999999999999;
		width: 100%;
		height: 5rem;
		background-color: #2f415c;
	}
	.search-form-button {
		padding-right: 70px;
		text-align: left;
	}
	.search-wrapper {
		display: none;
	}
	.search-wrapper.show-tablet {
		display: block;
		width: 100%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		background-image: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		color: #fff;
	}
	.search-form-wrapper {
		padding-right: 0rem;
		padding-left: 0rem;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.search-input {
		padding-right: 1rem;
		padding-left: 0px;
		color: #2f415c;
		font-size: 1.75rem;
	}
	.search-button {
		margin-right: 0px;
	}
	.button-bottom-of-page-wrapper {
		position: absolute;
		left: 0%;
		top: auto;
		right: 0%;
		bottom: 0%;
		display: none;
		padding: 3rem;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.main-logo-on-dark:hover {
		color: #2f415c;
	}
	.main-logo-on-dark.on-dark:hover {
		color: #fff;
	}
	.main-logo-on-dark:hover {
		color: #fff;
	}
	.c-social_share_wrapper.cc-pill {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.c-social_icon:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		color: #2f415c;
	}
	.na {
		min-height: 5rem;
	}
	.richtext_container-copy {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.chart-canvas {
		margin-top: 2rem;
		margin-left: -1rem;
	}
	.chart-canvas.big {
		height: 50vh;
	}
	.big-linkwrapper_shadow {
		padding: 2rem;
	}
	.legend-wrapper {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		border-top-style: none;
	}
	.column-statistik-legende {
		width: 100%;
	}
	.column-statistik-legende._1-3.mobile-full {
		padding-right: 1rem;
	}
	.column-statistik-legende._1-3.tablet-landscape-margin-and-full {
		width: auto;
		margin-bottom: 2rem;
	}
	.column-statistik-legende._1-2.tablet-100 {
		width: 100%;
	}
	.column-statistik-legende.align-right.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column-statistik-legende.align-right.tablet-left {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column-statistik-legende.align-right.tablet-align-left {
		margin-top: 1rem;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column-statistik-legende.width-auto.text-align-right {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.column-statistik-legende.justify-bottom.tablet-50p-height {
		min-height: 50rem;
	}
	.column-statistik-legende._1-4.text-align-right {
		margin-top: 2rem;
		text-align: left;
	}
	.column-statistik-legende.tablet-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.chart-canvas-torte.big {
		height: 50vh;
	}
	.text-rich-text-links {
		width: 100%;
		max-width: 65ch;
	}
	.text-rich-text-links h5 {
		letter-spacing: 0.025rem;
	}
	.text-rich-text-links.center {
		margin-right: auto;
		margin-left: auto;
	}
	.text-rich-text-downloads {
		width: auto;
		max-width: 60ch;
	}
	.text-rich-text-downloads h5 {
		letter-spacing: 0.025rem;
	}
	.container-2 {
		max-width: 728px;
	}
	.pricing-card-two {
		padding: 24px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.pricing-image-two {
		margin-right: 20px;
	}
	.text-rich-text-big-bulletpoints {
		width: auto;
		max-width: 65ch;
	}
	.text-rich-text-big-bulletpoints h5 {
		letter-spacing: 0.025rem;
	}
	.presse-kontakt-wrapper {
		max-width: none;
	}
	.mitglieder-wrapper {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.mitglieder-wrapper:hover {
		color: #2f415c;
	}
	.section-hero-dossier {
		min-height: auto;
	}
	.dossier-header-image-wrapper {
		position: relative;
		width: 100%;
		margin-top: 0rem;
		padding-top: 70%;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 0px;
	}
	.dossier-header-image {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		max-width: none;
		min-height: auto;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.dossier-hero_component {
		width: 100%;
		min-height: auto;
		padding-top: 4rem;
		padding-right: 0rem;
	}
	.dossier-startseiten-teaser {
		min-height: 50rem;
	}
	.quelle-wrapper {
		margin-left: 0rem;
	}
	.news-card-shadow {
		padding: 1.5rem;
	}
	.news-image-wrapper {
		margin-bottom: 1.5rem;
	}
	.datum-stadt-column-wrapper.justify-space-between {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.datum-stadt-column-wrapper.tablet-vertical {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.datum-stadt-column-wrapper.tablet-center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.datum-stadt-column-wrapper.bigger {
		font-size: 3rem;
	}
	.header-news-container {
		padding-top: 0rem;
	}
	.header-news-wrapper {
		height: auto;
	}
	.text-rich-text-button-links {
		width: auto;
		max-width: 60ch;
	}
	.text-rich-text-button-links h5 {
		letter-spacing: 0.025rem;
	}
	.button-secondary-2:hover {
		border-color: #2f415c;
		color: #2f415c;
	}
	.nachrichten-image-wrapper {
		margin-top: -2rem;
	}
	.text-rich-text-button-links-big {
		width: auto;
		max-width: 60ch;
	}
	.text-rich-text-button-links-big h5 {
		letter-spacing: 0.025rem;
	}
	.all-news-link-block {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	.all-news-link-block:hover {
		padding-right: 2.25rem;
		padding-left: 2.75rem;
	}
	.download-grid {
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.image-grid {
		-webkit-column-count: 2;
		column-count: 2;
	}
	.pressemitteilung-column-datum-ort._1-3.mobile-full {
		padding-right: 1rem;
	}
	.pressemitteilung-column-datum-ort._1-3.tablet-landscape-margin-and-full {
		width: auto;
		margin-bottom: 2rem;
		padding-right: 0rem;
	}
	.pressemitteilung-column-datum-ort._1-2.tablet-100 {
		width: 100%;
		min-height: auto;
	}
	.pressemitteilung-column-datum-ort.align-right.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.pressemitteilung-column-datum-ort.align-right.tablet-left {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.pressemitteilung-column-datum-ort.align-right.tablet-align-left {
		margin-top: 1rem;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.pressemitteilung-column-datum-ort.width-auto.text-align-right {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.pressemitteilung-column-datum-ort._1-4.text-align-right {
		margin-top: 2rem;
		text-align: left;
	}
	.pressemitteilung-column-datum-ort.tablet-center {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.startseite-header-text-container {
		padding: 3rem;
	}
	.login-card {
		padding: 1.5rem;
	}
	.glossar_item {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.glossar_item:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		color: #2f415c;
	}
	.glossar_item.white:hover {
		color: #fff;
	}
	.glossar-text-wrapper {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.ausschuss-mitglied-item {
		margin-top: 0rem;
		margin-right: 0rem;
		margin-left: 0rem;
	}
	.ausschuss-mitglied-item:hover {
		color: #2f415c;
	}
	.ausschuss-mitglieder-grid {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.vorsitz-wrapper:hover {
		display: inline-block;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.vorsitz-wrapper.white:hover {
		background-color: #fff;
	}
	.vorsitz-wrapper.medium-blue:hover {
		background-color: #7ea0d4;
	}
	.table-canvas {
		margin-top: 2rem;
	}
	.table-canvas.big {
		height: 50vh;
	}
	.automatic-columns_links-colum {
		-webkit-column-count: 1;
		column-count: 1;
	}
	.automatic-columns_links-colum.tablet-row {
		grid-auto-flow: row;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.teaser-text-header.relativ {
		line-height: 2rem;
	}
	.column-wrapper-ansprechpartner.justify-space-between {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.column-wrapper-ansprechpartner.tablet-vertical {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.column-wrapper-ansprechpartner.tablet-vertical.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.column-wrapper-ansprechpartner.tablet-center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.column-wrapper-ansprechpartner.grow {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}
