@media print {

    @page {
        margin: 10mm;
        size: auto
                }

.w-editor-bem-EditorApp-minimized .w-editor-bem-EditorApp_Panel {
    display: none !important;
                                        }

.container-background-img, .footer, .nav_component { display: none; }
    body { /*background: white;*/
                    overflow: visible; } 
    #content { /*background: transparent;*/ }
    #author { /*color: #000;*/ }

.verteiler-card {
  page-break-after: page;
                            }


.statistik_column-wrapper {display: block;
                                            /*page-break-after: auto;*/}

.chart-container .overflow-hidden {
overflow: visible
}

.column-statistik-legende {width:100%}

  /*  h1,h2,h3,h4,h5,h6 {
        -webkit-column-break-after: avoid;
        -moz-column-break-after: avoid;
        break-after: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
                color: #2f415c;
    } */

    p {
        orphans: 2;
        widows: 3;
                color: #2f415c;
    }




}
