@media print {

@page {
    margin: 10mm;
    size: auto
  }

 .big-text.margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-top.margin-small.padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-top.margin-huge.padding-top.padding-vertical.padding-large {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom.margin-small.mobile-large {
    margin-bottom: 1.5rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom.padding-xhuge {
    padding-bottom: 3.5rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical.padding-medium.accordion-trigger {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .global-styles {
    color: #7ea0d4;
  }

  .spacing-clean {
    margin: 0rem;
    padding: 0rem;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .button:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .fs-styleguide_2-col {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .text-rich-text h2 {
    font-size: 2rem;
    line-height: 1.1;
  }

  .text-rich-text h3 {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .text-rich-text h5 {
    font-size: 0.95rem;
  }

  .show-mobile-portrait {
    display: block;
  }

  .page-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .button-text.text-color-white.mobile-small-padding {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .heading-medium {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .heading-medium.relativ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .heading-medium.relativ._80-prozent {
    margin-right: 2rem;
  }

  .column._1-3 {
    width: 100%;
  }

  .background-img._100vh {
    height: 100%;
  }

  .automatic-columns.footer {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: minmax(100%, -webkit-max-content);
    -ms-grid-columns: minmax(100%, max-content);
    grid-template-columns: minmax(100%, -webkit-max-content);
    grid-template-columns: minmax(100%, max-content);
  }

  .automatic-columns._4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .automatic-columns.team {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .automatic-columns.mobile-rows {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .dossier-image-container {
    min-height: auto;
    padding-top: 66%;
  }

  .nav-menu-origin {
    padding: 4.5rem 1.5rem 1.5rem;
  }

  .nav-menu-origin.background-color-blue-dark {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .menu-title {
    font-size: 18px;
  }

  .list-wrap-origin {
    padding-right: 0px;
    padding-left: 0px;
  }

  .list-wrap-origin.padding-large {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .list-wrap-origin.padding-large.dark {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .link-column-origin {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navigation-grid-origin {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dropdown-origin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navlink.secondary.in-mobile-nav {
    margin-top: 0px;
    margin-right: 12px;
    font-size: 14px;
  }

  .nav-section-secondary-in-mobile {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .link-wrap-origin {
    padding-right: 6px;
    padding-left: 6px;
  }

  .menu-subtext {
    font-size: 16px;
  }

  .catchline {
    font-size: 13px;
  }

  .navicon {
    font-size: 22px;
  }

  .primary-navlink-box.mobile-service-link {
    display: none;
  }

  .primary-navlink-box.footer {
    margin-right: 0.8rem;
  }

  .nav-caret {
    margin-right: 0px;
  }

  .container-origin {
    height: 48px;
  }

  .navigation-origin {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .list-origin.w--open {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .statistik_column-wrapper.no-bottom-border {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .statistik_column-wrapper.in-artikel {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .heading-xxxxxlarge.text-align-right {
    text-align: left;
  }

  .statistik_wrapper {
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .negativ-margin-left.max-width-small {
    margin-left: 0rem;
  }

  .login_formfield {
    border-radius: 0px;
  }

  .footer_brand-container {
    max-width: 80px;
    margin-bottom: -32px;
  }

  .link-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .heading-xxlarge {
    font-size: 2.5rem;
  }

  .heading-xxlarge.startseite {
    font-size: 3rem;
  }

  .text-rich-text-large p {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .accordion-bottom-wrap {
    padding-right: 0px;
  }

  .tabellen-wrapper {
    padding-top: 1.2em;
    padding-bottom: 2em;
  }

  .tabellen-wrapper.kennzahlen {
    margin-right: 1.2em;
    padding-left: 1.2em;
  }

  .breadcrumb-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .breadcrumb {
    font-size: 0.85rem;
  }

  .themen_wrapper_shadow {
    padding: 1rem;
  }

  .themen_item {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .text-size-xlarge {
    font-size: 1.75rem;
  }

  .text-size-xlarge.mobile-landscape-small-text {
    font-size: 1.5rem;
  }

  .container-large_verteilerseite-header {
    min-height: 80vh;
  }

  .column-wrapper-navigation.white.hover.w--current {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-wrapper-navigation.white.hover.mobile-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-slider-nav {
    top: 11px;
  }

  .arrow {
    height: 20px;
  }

  .image-slide {
    min-width: 320px;
  }

  .right-arrow-image-slider {
    left: 60px;
    margin-left: auto;
  }

  .mask {
    min-width: 320px;
  }

  .image-slider {
    min-width: 320px;
  }

  .slider-arrow {
    height: 20px;
  }

  .mitgliederbereich {
    margin-top: 0.5rem;
    margin-bottom: -0.1rem;
    font-size: 0.75rem;
    line-height: 1;
    text-align: left;
  }

  .download-wrapper {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .header-news-teaser-card {
    padding: 1.5rem;
  }

  .header-news-teaser-card:hover {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .search-form-button {
    padding-left: 20px;
  }

  .search-input {
    height: 50px;
    font-size: 20px;
  }

  .c-social_buttons {
    margin-right: 0rem;
  }

  .c-share_button.cc-share:hover {
    color: #000;
  }

  .c-share_button.cc-share:hover {
    color: #000;
  }

  .c-share_button.cc-share:hover {
    color: #000;
  }

  .chart-container {
    z-index: 10;
    overflow: scroll;
  }

  .chart-container.overflow-hidden {
    overflow: hidden;
  }

  .chart-canvas {
    width: 200%;
    margin-right: 4rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    padding-right: 4rem;
  }

  .chart-canvas.torte {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .chart-canvas.big {
    height: 450px;
  }

  .big-linkwrapper_shadow {
    padding: 1rem;
  }

  .column-statistik-legende._1-3 {
    width: 100%;
  }

  .mobile-scroll-bar {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    height: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: rgba(126, 160, 212, 0.25);
  }

  .mobile-scroll-bar.outer {
    position: relative;
  }

  .mobile-scroll-bar.inner {
    position: -webkit-sticky;
    position: sticky;
    width: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: #7ea0d4;
  }

  .div-block-3 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #7ea0d4;
  }

  .white-blur {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 500;
    display: block;
    width: 4rem;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(hsla(0, 0%, 100%, 0.8)));
    background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.8));
  }

  .chart-canvas-torte {
    height: 300px;
  }

  .chart-canvas-torte.torte {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .chart-canvas-torte.big {
    height: 300px;
  }

  .text-rich-text-links h3 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }

  .text-rich-text-links h5 {
    font-size: 0.95rem;
  }

  .text-rich-text-downloads h3 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }

  .text-rich-text-downloads h5 {
    font-size: 0.95rem;
  }

  .container-2 {
    max-width: none;
  }

  .pricing-card-two {
    padding: 15px;
  }

  .pricing-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .pricing-details {
    margin-bottom: -10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .pricing-block {
    margin-bottom: 10px;
  }

  .text-rich-text-big-bulletpoints h3 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }

  .text-rich-text-big-bulletpoints h5 {
    font-size: 0.95rem;
  }

  .filter_grid {
    margin-bottom: 3rem;
  }

  .automatic-columns-personen.footer {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: minmax(100%, -webkit-max-content);
    -ms-grid-columns: minmax(100%, max-content);
    grid-template-columns: minmax(100%, -webkit-max-content);
    grid-template-columns: minmax(100%, max-content);
  }

  .automatic-columns-personen.team {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .automatic-columns-personen.mobile-rows {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .mitglieder-wrapper {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .mitglieder-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dossier-header-image-wrapper {
    margin-top: 2.5rem;
    padding-top: 103%;
  }

  .dossier-startseiten-teaser {
    height: 50vh;
    min-height: 36rem;
  }

  .news-card-shadow {
    padding: 1.5rem 1rem 1rem;
  }

  .datum-stadt-column-wrapper.bigger {
    font-size: 2.5rem;
  }

  .text-rich-text-button-links h3 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }

  .text-rich-text-button-links h5 {
    font-size: 0.95rem;
  }

  .text-rich-text-xlarge p {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
  }

  .text-rich-text-button-links-big h3 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
  }

  .text-rich-text-button-links-big h5 {
    font-size: 0.95rem;
  }

  .all-news-link-block {
    padding: 1.5rem;
  }

  .all-news-link-block:hover {
    padding: 1.5rem;
  }

  .download-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .image-grid {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .pressemitteilung-column-datum-ort._1-3 {
    width: 100%;
  }

  .startseite-header-text-container {
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .glossar_item {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .ausschuss-mitglied-item {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .ausschuss-mitglieder-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .vorsitz-wrapper:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .table-canvas.torte {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .table-canvas.big {
    height: 450px;
  }

  .teaser-text-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .teaser-text-header.relativ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .teaser-text-header.relativ._80-prozent {
    margin-right: 2rem;
  }
}

#w-node-_2ae368d8-63dd-fb0c-46a8-f412fd9551da-11eb51f6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cc90a167-f889-055d-e185-4870db820b74-11eb51f6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e2814413-d03a-1ee5-c054-763b13261372-11eb51f6 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1642001c-03cf-d242-ef83-c6e1969ae653-6ae00be2 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f55899f2-b56d-4f73-d8d8-f836dc07fc34-321a642c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6193f99a-dab2-0caa-302e-d23520abdf65-506584ba {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_3d991119-5c54-165a-80b5-b48b58ca19a6-506584ba {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-e8701caa-2181-ab45-9369-7042e0f0f193-506584ba {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_655681e7-f4e7-9486-fb15-743130e163d1-506584ba {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_867027a0-76e6-4787-dab8-171863b45266-a8338db3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f4c7d5a-d74a-92c8-93e4-d7670053ea9c-f238c403 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-b4a7aaee-f539-9518-7ce6-2b1818993c27-9cc3d4eb {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-e7efd867-394a-e11b-0a50-3d5ac6a5e22e-9cc3d4eb {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-f8327dfe-d37c-2be2-3b6a-1b93e4b199fb-9cc3d4eb {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-cbb541aa-4c84-b2aa-04f7-5f3db7f4c57c-4532b863 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbb541aa-4c84-b2aa-04f7-5f3db7f4c599-4532b863 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_528a5ba0-8b5f-327b-e30c-1766f9b8cb0b-f9b8caec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_528a5ba0-8b5f-327b-e30c-1766f9b8cb21-f9b8caec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_528a5ba0-8b5f-327b-e30c-1766f9b8cb3b-f9b8caec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_528a5ba0-8b5f-327b-e30c-1766f9b8cb58-f9b8caec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_19471d9d-2c69-272c-80c2-c1fb83ee3bfb-db0eac33 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_19471d9d-2c69-272c-80c2-c1fb83ee3c18-db0eac33 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_02429911-e383-217f-2702-0b3d712c4251-ab67038e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d9ac9585-8dec-a153-e9e8-0b37daabf1e7-ab67038e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_11b8169f-dc2c-7288-8035-c9636ef68133-ab67038e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb4b8479-5ba6-44a3-7dba-7c901400f250-ab67038e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d12df266-2f94-fcdf-e025-92cabccae6b9-ab67038e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bcc66020-6786-4f89-c91b-7ccea0a309b4-eefc6782 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

}
